* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1516321318423-f06f85e504b3");
  background-size: cover;
  background-position: center;
}

.overlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.55);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 420px;
  padding: 40px;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  color: white;
  text-align: center;
}

.card h1 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 30px;
  color: #ddd;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

button {
  padding: 15px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s;
}

button:hover {
  background: #2e7d32;
}
